@{
    ViewBag.Title = "Contact";
}

<h2>
    Contact
</h2>

<p class="fs-3 text-dark text-bold text-center">The Mikish Group</p>
<p class="fs-5 text-dark text-bold text-center">mikish@mikish.com</p>

