@{
    ViewBag.Title = "Home Page";
}

@{
    string siteName = "The Mikish Group";
    string siteURL = "Mikish.com";
}

<div class="card bg-dark mb-3">   
    <p class="card-header text-light text-bolder text-center fs-3"><span class="text-nowrap">@siteName</span> <span class="text-nowrap">is a Website,</span> <span class="text-nowrap">Subdomain, and Subsite</span> <span class="text-nowrap">Host and Developer</span> <span class="text-nowrap">for a number of great sites.</span></p>
</div>

<!-- Row -->
<div class="row gx-0 gx-lg-4">

    <!-- Column -->
    <div class="col-md-4 px-2">
        <h4><b>Getting started...</b></h4>
        <p>
            A 'Subdomain' or 'Subsite' allows for an inexpensive way to host your own website without having to mess around with buying and hosting a 'Domain Name' yourself.<br />Do you need a <b>temporary</b> or <b>test</b> site? A Subdomain is the perfect inexpensive solution to promote an event or a long term site.</p>
    </div>

    <!-- Column -->
    <div class="col-md-4 px-2">
        <h4>Oh, you <b>HAVE</b> a Domain Name?</h4>
        <p>Great, we can inexpensively host a site using your existing domain name by providing hosting space accessible through FTP, WebDev, and other standard publishing methods pointing your domain name to its new home, including SSL Security.</>
    </div>

    <!-- Column -->
    <div class="col-md-4 px-2">
        <h4><b>Web Site Development</b></h4>
        <p>
            <b>What?<br />You don't have a Website?</b><br />
            Sure, we can help develop your website and host it, 
            or we can provide you the site components and you can host it yourself.
        </p>
    </div>

    <!-- Column -->
    <div class="col-md-12 px-2">
        <h4><b>Phone First</b> Websites</h4>
        <p>            
            We specialize in "Phone First" site development to ensure your website meets the needs of your viewers with easy to access information. Over 80% of viewers will see your site on their phone, so we ensure a good presentation on Phones, Tablets, and Desktops.. We also specialize in Vector Graphics, a form of crisp clear images suitable for logos, letterhead, banners, clothing, and high quality printing for your 'Branding'' needs.
        </p>
    </div>

     <!-- Column -->
    <div class="col-md-4 px-2 mx-auto">
        <h4><b>Inexpensive</b></h4>
        <p>
            Our fees are reasonable regardless of your needs. The 'Basic' hosting expenses can be as little as <b>$19.95 a month</b>; talk to us about your specific needs!
        </p>
    </div>

</div>
<div class="card header bg-dark p-3">
    <h3 class="text-light">Subsite:</h3>
    <p class="text-light">A website that is subordinate to another website and hosted in its entirety under that site's domain name.</p>
    <p class="text-light">An example would be an address like: @siteURL/Example</p>
    <h3 class="text-light">Subdomain:</h3>
    <p class="text-light">A domain name that has been prefaced with additional parts separated with periods.</p>
    <p class="text-light">An example would be an address like: Example.@siteURL</p>
    <h3 class="text-light">Domain:</h3>
    <p class="text-light">A domain name is the main name representitive of the website address.</p>
    <p class="text-light">An example would be an address like: Example.net</p>
</div>
